<%# Main section %>
<div class="main">
	<h1>About this project</h1>
</div>

<%# Supporting section %>
<div class="supporting">
	<h2>Join and share in the experiences</h2>
	<p>Stories automatically creates a digital journal filled with only your best photos.</p>
	<%= link_to "Sign Up", '/signup' %>
</div>